.site-logo {
  width: 150px;
}

.navbar {
  background-color: #00263d;
  height: 60px;
  padding-left: 25px;
  padding-right: 25px;
}

.edit-label {
  margin-bottom: 10px;
}

.edit-textarea {
  height: 200px;
}
