<form action="/screencasts{{if .screencast}}/{{.screencast.Slug.String}}{{end}}" method="post">
  <p>
    <span>Title:</span><input type="text" name="Title" value="{{.screencast.Title.String}}" />
  </p>
  <p>
    <span>Slug:</span><input type="text" name="Slug" value="{{.screencast.Slug.String}}" />
  </p>
  <p>
    <span>Content:</span><input type="textarea" name="Content" value="{{.screencast.Content.String}}" />
  </p>
  <p>
    <span>Abstract:</span><input type="textarea" name="Abstract" value="{{.screencast.Abstract.String}}" />
  </p>
  <p>
    <span>Video Embed:</span><input type="text" name="VideoEmbed" value="{{.screencast.VideoEmbed.String}}" />
  </p>
  <p>
    <span>Display Date:</span><input type="date" name="DisplayDate" value="{{.screencast.DisplayDate}}" />
  </p>
  <p>
    <span>Thumbnail URL:</span><input type="text" name="ThumbnailUrl" value="{{.screencast.ThumbnailUrl.String}}" />
  </p>
  <p>
  <span>public:</span><input type="checkbox" name="Public" {{ if .screencast }} {{ if eq .screencast.Public true }} checked {{ end }}{{ end }} />
  </p>
  
  <input type="submit" value="save"/>
</form>
