{{ define "content" }}
  {{ include "screencasts/_screencasts.css" }}

  <div style="margin-top: 50px;"></div>

  {{ range $screencast := .screencasts }}
    <div class="row screencast-item">
      <div class="col-4">
        <a href="/s/{{$screencast.Slug.String}}">
          <img src="{{ $screencast.ThumbnailUrl.String }}" class="thumbnail" />
        </a>
      </div>
      <div class="col">
        <a href="/s/{{$screencast.Slug.String}}" class="title">{{$screencast.Title.String}}</a>
        <p class="date">{{ $screencast.DisplayDate | fmtDate }}</p>
        <p class="abstract">{{ $screencast.Abstract.String }}</p>
      </div>
    </div>
  {{ end }}
{{ end }}
