<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="/">
    <img src="/assets/images/logo.png" class="site-logo" alt="">
  </a>

  <div class="ml-auto" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/author">Author</a>
      </li>
      {{ if .currentUser }}
        {{ if ne .currentUser.ID 0 }}
          <li class="nav-item">
            <a class="nav-link" href="/admin/screencasts/new">New Screencast</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signout">Sign Out</a>
          </li>
        {{ else }}
          <li class="nav-item">
            <a class="nav-link" href="/signin">Sign In</a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
  </div>

</nav>
