{{ define "content" }}
  <div style="margin-top: 50px;"></div>

  <div class="row">
    <div class="col-lg-2">
      <img src="https://avatars3.githubusercontent.com/u/6851886?v=4&s=150" alt="" />
    </div>
    <div class="col-lg-10">
      <p style="margin-top: 5px;">
      Adler Hsieh, currently a software developer. Have some experience in PHP but hate its syntax. Gopher/Rubyist. Work hard to be lazy.
      </p>
      <p>
      Checkout out <a href="https://github.com/adlerhsieh">GitHub</a>, or contact through <a href="https://twitter.com/adler_hsieh">Twitter</a> and <a href="https://www.linkedin.com/in/adler-hsieh-51837333">LinkedIn</a>.
      </p>
      </ul>
    </div>
  </div>
{{ end }}
